.shopping__cart__item {
  display: grid;
  grid-template-columns: 40% 30% 25% 5%;
  justify-content: space-between;
  padding: 22px;
  position: relative;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px grey;
  background: rgba(240, 240, 240, 0.6);
}
.shopping__item__total {
  color: orange;
  font-weight: 600;
}
.shopping__item__count {
  padding: 5px 7px;
  border: 1px solid grey;
  border-radius: 5px;
}
.remove__btn {
  padding: 0 5px;
  cursor: pointer;
  color: rgba(150, 150, 150, 1);
  font-weight: 600;
}
.modal__control {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 0px;
}
